*{
    margin:0;
    padding:0;
}
.two{
    background-color: black;
    color: aliceblue;
}
.container{
    display: flex;
    width: 100px;
    height: 100px;
    display: grid;
    justify-items: center;
    align-items: center;
    gap: 10px;
}

.container{

    grid: display;
    grid-template-areas:  
    'one one two'
    'three four two'
    'five six seven'
    ;
}
.one{
    grid-area: one;
}
.two{
    grid-area: two;

}
.three{
    grid-area: three;
}
.four{
    grid-area: 4;
}
.five{
     grid-area: five;
}
.six{
    grid-area: six;
}
.seven{
    grid-area: seven;
}